<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<!-- This bean student1 is used for setter injection -->
<!--
    <bean id="student1" class="com.ankitverma.springpractice.dependencyinjection.Student" >
    <property name="name" value="Ankit"/>
    <property name="id" value="1"/>
    </bean>
-->
<!-- This is constructor injection for Spring for literals -->
    <bean id="student2" class="com.ankitverma.springpractice.dependencyinjection.Student">
        <constructor-arg name="name" value="Ankur" />
        <constructor-arg name="id" value="2" />
    </bean>


</beans>